.review-user {
  font-size: 0.9rem; /* Smaller text for the user's name */
  color: #555; /* Lighter color */
}

.review-date {
  font-size: 0.8rem; /* Smaller text for the date */
  color: #888; /* Even lighter color for the date */
  margin-left: 5px;
}

.review-text {
  margin-top: 10px; /* Add some space between the user's name and the review text */
  font-size: 1rem;
  color: #333;
}

/* Ensuring proper spacing between reviews */
.review-item {
  margin-bottom: 25px; /* Increase space between different users' reviews */
}

/* Add extra space between reviews from different users */
.review-item:not(:last-child) {
  margin-bottom: 25px; /* More space between consecutive reviews */
}


/* Gaya untuk pesan error */
#error-restaurants {
  text-align: center;
  padding: 20px;
}

.error-message {
  background-color: #ffcccc;
  border: 2px solid #ff0000;
  color: #800000;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.error-message .error-icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.error-message .error-text p {
  margin: 5px 0;
}

.error-details {
  font-size: 0.9em;
  font-style: italic;
  color: #555;
}

#favorite-restaurants {
  position: relative;
  min-height: 200px;
}

.empty-message {
  background-color: #e0f7fa;
  border: 2px solid #00796b;
  color: #00796b;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification-message {
  color: #f3290e;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.info-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  color: #0c5460;
  background-color: #d1ecf1;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #bee5eb;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .error-message, .empty-message, .notification-message, .info-message {
    padding: 15px;
    font-size: 16px;
  }

  .error-message {
    max-width: 90%;
  }

  .empty-message, .notification-message, .info-message {
    max-width: 90%;
  }

  #favorite-restaurants {
    min-height: 150px;
  }
}

@media (max-width: 480px) {
  .error-message, .empty-message, .notification-message, .info-message {
    padding: 10px;
    font-size: 14px;
  }

  .error-message {
    max-width: 95%;
  }

  .empty-message, .notification-message, .info-message {
    max-width: 95%;
  }

  #favorite-restaurants {
    min-height: 120px;
  }
}
